DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/genect_dev?schema=public"
POSTGRES_USER="USER"
POSTGRES_PASSWORD="PASSWORD"
POSTGRES_DB="genect_dev"
SEED_ADMIN_NAME=""
SEED_ADMIN_EMAIL=""
SEED_ADMIN_PASSWORD=""
