# dependencies
node_modules

# generated code
src/generated

# next.js
.next
out
build
dist

# env files
.env
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# misc
.DS_Store
*.tsbuildinfo

.vercel
.env*
